%h1.title.is-ta-center.t-arvo Find your Congressmen

.filter.is-ta-center
  %form{:action => '/congressmen/search', :method => 'get', id: "qform"}
    %input{:type => "text", placeholder: "Search by name", id: "q", name: "q", :"class"=>"message t-arvo"}/

.congressmen

  - @congressmen.each do |c|
    .congressman
      = image_tag c.picture_url
      %strong
        = c.title + "."
        = c.firstname
        = c.lastname
      %label
        %b
          = c.party
          \- #{c.state}
      %a.overlay{:href => "#"}
        %h4.t-arvo.t-white Select

= will_paginate @congressmen, :class => 'apple_pagination'

:javascript
  $(".overlay").on("click", function(e) {
    e.preventDefault;

  });
