%h1.title.is-ta-center.t-arvo All Congressmen

.filter.is-ta-center
  %span Filter by:
  %select{placeholder: "State"}
    %option{:disabled => "", :selected => "", :value => ""} State
    %option{:value => "volvo"} Volvo
    %option{:value => "saab"} Saab
    %option{:value => "mercedes"} Mercedes
    %option{:value => "audi"} Audi

  %select{placeholder: "State"}
    %option{:disabled => "", :selected => "", :value => ""} Political Party
    %option{:value => "volvo"} Volvo
    %option{:value => "saab"} Saab
    %option{:value => "mercedes"} Mercedes
    %option{:value => "audi"} Audi

  %input{:type => "text", placeholder: "Name"}/ 

.congressmen

  .congressman
    = image_tag "congressmen_photos/C001098.jpg"
    %strong Ted Cruz
    %label 
      Senator,
      %b R-Texas

  .congressman
    = image_tag "congressmen_photos/C001098.jpg"
    %strong Ted Cruz
    %label 
      Senator,
      %b R-Texas

  .congressman
    = image_tag "congressmen_photos/C001098.jpg"
    %strong Ted Cruz
    %label 
      Senator,
      %b R-Texas

  .congressman
    = image_tag "congressmen_photos/C001098.jpg"
    %strong Ted Cruz
    %label 
      Senator,
      %b R-Texas

  .congressman
    = image_tag "congressmen_photos/C001098.jpg"
    %strong Ted Cruz
    %label 
      Senator,
      %b R-Texas

  .congressman
    = image_tag "congressmen_photos/C001098.jpg"
    %strong Ted Cruz
    %label 
      Senator,
      %b R-Texas
