.l-window
  .l-container.first
    %h1.t-arvo
      Bother a Legislator (they deserve it):

    %input.message.t-arvo{:type => "text", placeholder: "Write something here!"}/

    %p.t-arvo.clearfix
      %a.is-right.is-block.next-link{:href => "#"}
        Next →

    .old-messages

      %h2.t-arvo
        Or use someone else's message:

      %p.old-message.on-hover.is-enlarged I can't believe how ridiculous you are.

      %p.old-message.on-hover.is-enlarged Really, you guys are absolute morons.

      %p.old-message.on-hover.is-enlarged Buy me a sandwich.

  .l-container.second
    %p.t-arvo.clearfix
      %a.is-left.is-block.previous-link{:href => "#"}
        ← Previous
      %a.is-right.is-block.next-link{:href => "#"}
        Next →

    %p.message-draft.t-arvo.is-ta-center.is-hidden

    %h1.t-arvo 
      Select Legislator(s)

    .filter.is-ta-center
      %form{:action => '/congressmen/search', :method => 'get', id: "qform"}
        %input{:type => "text", placeholder: "Search for a congressman by name", id: "q", name: "q", :"class"=>"search t-arvo"}/

    .congressmen

      - @congressmen.each do |c|
        .congressman
          = image_tag c.picture_url
          %strong
            = c.title + "."
            = c.firstname
            = c.lastname
          %label
            %b
              = c.party
              \- #{c.state}
          %a.overlay{:href => "#"}
            %h4.t-arvo.t-white Select

    = will_paginate @congressmen, :class => 'apple_pagination'


  .l-container.third.is-ta-center
    %p.t-arvo.clearfix
      %a.is-left.is-block.previous-link{:href => "#"} 
        ← Previous 

    %h2.t-arvo.is-inline-block.is-left
      Send it through:
    
    %a.button.sm.is-inline-block.on-hover.is-enlarged{:href => "#"} 
      FACEBOOK
    %a.button.sm.is-inline-block.on-hover.is-enlarged{:href => "#"} 
      TWITTER
    %a.button.sm.is-inline-block.on-hover.is-enlarged{:href => "#"} 
      PHONE
    %a.button.sm.is-inline-block.on-hover.is-enlarged{:href => "#"} 
      EMAIL


    %h2.t-arvo.is-ta-left
      Confirm message:

    %input.message.t-arvo.short{:type => "text", placeholder: "Write something here!"}/  
  
    %h2.is-ta-center 
      %a.is-inline-block.button.send.on-hover.is-enlarged.is-ta-center{:href => "#"} 
        BOTHER
    
:javascript
  $(".sm").on("click", function() {
    $(this).toggleClass("highlighted");
  });
