<form action="" method="POST">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />

  <h3>Some sort of title</h3>
  <textarea name="message" maxlength=140><% @message %></textarea>
  <% if not @is_connected %>
  <div>
    Looks like you're not connected to any social media. Click buttons below to blah blah..
  </div>
  <% end %>
  <div>
    <label>Facebook</label>
    <input type="checkbox" name="send_facebook" value="1" <%= @disabled[:facebook] ? "disabled" : "" %>></input>
  </div>
  <div>
    <label>Twitter</label>
    <input type="checkbox" name="send_twitter" value="1" <%= @disabled[:twitter] ? "disabled" : "" %>></input>
  </div>
  <div>
    <label>Email</label>
    <input type="checkbox" name="send_email" value="1" <%= @disabled[:email] ? "disabled" : "" %>></input>
  </div>
  <div>
    <label>Phone</label>
    <input type="checkbox" name="send_phone" value="1" <%= @disabled[:phone] ? "disabled" : "" %>></input>
  </div>
  <input type="submit"></input>
</form>
