!!! 5
%html
  %head
    %title BotherCongress
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
  %body
    %header.l-header.clearfix
      %h1
        %a{:href => "#{root_path}"}  
          %span.t-blue> bother 
          %span.t-red> congress

      %nav.l-nav 
        %ul 
          %li 
            %a{:href => "#"} 
              about
          %li 
            %a{:href => "#{congressmen_path}"} 
              the congressmen
          %li 
            %a{:href => "#{login_path}"} 
              sign up
          %li 
            %a{:href => "#{login_path}"} 
              sign in
    .l-wrapper
    
      = yield